<div>
    <div>
        <form class="w-4/5" [formGroup]="formLogin" (submit)="send()">
            <div>
                <h1>Validaciones:</h1>
            </div>
            <div>
                <label for="nom">Nombre: </label>
                <input type="text" id="nombre" formControlName="nombre">
                <span class="text-xs">{{minimo}}</span>
            </div>
            <div class="my-3 p-3">
                <label for="">Email: </label>
                <input type="text" id="correo" formControlName="correo">
                <span class="text-xs">{{valido}}</span>
            </div>
            <div class="p-3">
                <label for="">Mensaje</label><br>
                <textarea id="mensaje" cols="40" rows="5" formControlName="mensaje"></textarea>
                <p>{{textmensaje}}</p>
            </div>
            <div class="my-2 p-3">
                <button class="py-1 px-4 text-center text-white"
                    [disabled]="formLogin.invalid">Confirmar</button>
                <p>{{confirmo}}</p>
            </div>
        </form>
    </div>
    <div>
        <div>
            <div>
                <div>{{datos}}</div>
            </div>
        </div>
    </div>

</div>